:root {
  --primary-font: #fff;
}


*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  color: var(--primary-font);
}

input {
  color: #000;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  color: var(--primary-font);
}

body {
  display: flex;
  flex-direction: column;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/****** search styles ******/
.search {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
}

#results-container ul {
  display: flex;
  flex-direction: column;
}

#results-container li {
  width: 100%;
  padding: 1em;
  background: white;
  animation: fade-in-up .5s ease backwards;
}

#results-container li + li {
  margin-top: 1em;
}

#results-container h3 {
  color: black;
}

@for $i from 1 through 5 {
  #results-container li:nth-child(#{$i}) {
    animation-delay: $i * .1s;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
}





@media screen and (min-width: 40em) {
  .app {
    padding: 0 3em;
  }

  #vimeo-slot {
    margin: 2em auto;
  }

}

@media screen and (min-width: 62em) {
  .app {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

}
