@import url('https://fonts.googleapis.com/css?family=Quicksand|Staatliches');

$primaryColor: #96ebeb;
$secondaryColor: #4914f4;
$primaryFont: 'Quicksand', sans-serif;
$largeScreen: 66%;


* {
  transition: all .35s linear;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  background: $primaryColor;
}

body {
  display: flex;
  flex-direction: column;
  background: $primaryColor;
  font-family: $primaryFont;
}

h1 {
  font-size: 1.5em;
  color: $secondaryColor;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

input {
  border: none;
  border-radius: 0;
  outline: 0;
}

::-webkit-input-placeholder {
  font-style: italic
}

// accordion
.card {
  border: none;
  border-radius: 0;
}

.card-body {
  margin-bottom: 2em;
}

/*-------------------------------------*/
/*      video overlay styles           */
/*-------------------------------------*/
#video-over {
    opacity: 0;
    display: none;
  &.finished {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .85;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in .3s ease forwards;
    span {
      color: white;
      font-size: 2em;
    }
    button {
      border: none;
      background: transparent;
      outline: 0;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


/*-------------------------------------*/
/*          search styles              */
/*-------------------------------------*/
.search {
  display: flex;
  width: 100%;
  .logo {
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    font-family: 'Staatliches', cursive;
    color: $secondaryColor;
  }
  .search-input {
    flex-grow: 1;
    font-size: 1.5em;
    padding-left: .5em;
    transform: scale3d(0,1,1);
    transform-origin: right;
    transition: transform .35s ease;
    &.active {
      transform: scale3d(1,1,1);
    }
  }
  .fa-search {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

/*-------------------------------------*/
/*        description styles           */
/*-------------------------------------*/
.video-description-container {
  #one {display: block;}
  #two {
    display: none;
    pointer-events: none;
  }
  button {
    width: 200px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    &:after {
      content: '';
      width: 100%;
      height: 4px;
      background: $secondaryColor;
      position: absolute;
      bottom: 0;
      left: 0;
      transform-origin: left;
      transform: scale3d(1,1,1);
      transition: transform .3s ease;
    }
    &.collapsed:after {
      transform: scale3d(0,1,1);
    }
  }

}


/*-------------------------------------*/
/*         search list styles          */
/*-------------------------------------*/


#results-container {
  ul {
  flex-direction: column;
  max-height: 375px;
  overflow-y: scroll;
  }
  li {
    width: 100%;
    background: white;
    cursor: pointer;
    box-shadow: 1px 3px 0.5em 0 rgba(0,0,0,.11);
    animation: fade-in-up .5s ease backwards;
    display: flex;
    &:hover {
      background: darken(white, 10%);
    }
    &:active {
      background: lighten( $secondaryColor, 40% );
    }
  }
  .video-thumb {
    height: 75px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .title-container {
    flex: 1;
    padding: .2em;
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: lighten( $secondaryColor, 40% );
      position: absolute;
      bottom: 0;
      right: 0;
      transform: scale3d(1,1,1);
      transform-origin: left;
    }
    h3 {
      padding-left: .5em;
      color: black;
      pointer-events: none;
    }
  }

  //animate list in
  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      animation-delay: $i * .1s;
    }
  }
}

/*-------------------------------------*/
/*             keyframes               */
/*-------------------------------------*/


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}


/*-------------------------------------*/
/*            Media Queries            */
/*-------------------------------------*/

// Medium Size Screen
@media screen and (min-width: 40em) {
  .app {
    padding: 0 3em;
  }
  .search {
    height: 3em;
    .fa-search {
      width: 10%;
    }
  }

}

// Large Size Screen
@media screen and (min-width: 62em) {
  .app {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  #vimeo-slot {
    width: $largeScreen;
  }

  #video-title {
    width: $largeScreen;
  }

  #results-container {
    width: 33%;
    position: absolute;
    top: -21em;
    right: 0;
  }

  .video-description-container {
    #one { display: none; }
    #two { display: block; }
    & button.collapsed:after {
      transform: scale3d(1,1,1);
    }
  }

  .collapse:not(.show) {
    display: block;
  }


}
