@import url("https://fonts.googleapis.com/css?family=Quicksand|Staatliches");
* {
  transition: all 0.35s linear;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  background: #96ebeb;
}

body {
  display: flex;
  flex-direction: column;
  background: #96ebeb;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #4914f4;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

input {
  border: none;
  border-radius: 0;
  outline: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.card {
  border: none;
  border-radius: 0;
}

.card-body {
  margin-bottom: 2em;
}

/*-------------------------------------*/
/*      video overlay styles           */
/*-------------------------------------*/
#video-over {
  opacity: 0;
  display: none;
}
#video-over.finished {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.85;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.3s ease forwards;
}
#video-over.finished span {
  color: white;
  font-size: 2em;
}
#video-over.finished button {
  border: none;
  background: transparent;
  outline: 0;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/*-------------------------------------*/
/*          search styles              */
/*-------------------------------------*/
.search {
  display: flex;
  width: 100%;
}
.search .logo {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  font-family: "Staatliches", cursive;
  color: #4914f4;
}
.search .search-input {
  flex-grow: 1;
  font-size: 1.5em;
  padding-left: 0.5em;
  transform: scale3d(0, 1, 1);
  transform-origin: right;
  transition: transform 0.35s ease;
}
.search .search-input.active {
  transform: scale3d(1, 1, 1);
}
.search .fa-search {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*-------------------------------------*/
/*        description styles           */
/*-------------------------------------*/
.video-description-container #one {
  display: block;
}
.video-description-container #two {
  display: none;
  pointer-events: none;
}
.video-description-container button {
  width: 200px;
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
.video-description-container button:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #4914f4;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease;
}
.video-description-container button.collapsed:after {
  transform: scale3d(0, 1, 1);
}

/*-------------------------------------*/
/*         search list styles          */
/*-------------------------------------*/
#results-container ul {
  flex-direction: column;
  max-height: 375px;
  overflow-y: scroll;
}
#results-container li {
  width: 100%;
  background: white;
  cursor: pointer;
  box-shadow: 1px 3px 0.5em 0 rgba(0, 0, 0, 0.11);
  animation: fade-in-up 0.5s ease backwards;
  display: flex;
}
#results-container li:hover {
  background: #e6e6e6;
}
#results-container li:active {
  background: #e0d7fd;
}
#results-container .video-thumb {
  min-height: 75px;
  max-height: 75px;
}
#results-container .video-thumb img {
  max-width: 100%;
  max-height: 100%;
}
#results-container .title-container {
  flex: 1;
  padding: 0.2em;
}
#results-container .title-container:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #e0d7fd;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale3d(1, 1, 1);
  transform-origin: left;
}
#results-container .title-container h3 {
  padding-left: 0.5em;
  color: black;
  pointer-events: none;
}
#results-container li:nth-child(1) {
  animation-delay: 0.1s;
}
#results-container li:nth-child(2) {
  animation-delay: 0.2s;
}
#results-container li:nth-child(3) {
  animation-delay: 0.3s;
}
#results-container li:nth-child(4) {
  animation-delay: 0.4s;
}
#results-container li:nth-child(5) {
  animation-delay: 0.5s;
}

/*-------------------------------------*/
/*             keyframes               */
/*-------------------------------------*/
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
/*-------------------------------------*/
/*            Media Queries            */
/*-------------------------------------*/
@media screen and (min-width: 40em) {
  .app {
    padding: 0 3em;
  }

  .search {
    height: 3em;
  }
  .search .fa-search {
    width: 10%;
  }
}
@media screen and (min-width: 62em) {
  .app {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  #vimeo-slot {
    width: 66%;
  }

  #video-title {
    width: 66%;
  }

  #results-container {
    width: 33%;
    position: absolute;
    top: -21em;
    right: 0;
  }

  .video-description-container #one {
    display: none;
  }
  .video-description-container #two {
    display: block;
  }
  .video-description-container button.collapsed:after {
    transform: scale3d(1, 1, 1);
  }

  .collapse:not(.show) {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
